.borderBottom{
    border-bottom: 1px solid #e2e2e2;
}

.upperContent-footer{
    background-color: #fff;
    max-width: 1600px;
    min-width: 1024px;
}

.individualTupple{
    border-left: 1px solid #e2e2e2;
    padding: 26px 25px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
}

.iconContainer{
    margin-top: 15px;
}

.paymentIcon{
    width: 60px;
    height: 51px;
    background-position: -366px -63px;
    background-image: url("https://i2.sdlcdn.com/img/newHomePageIcons@2x.png");
    background-size: 362px 240px;
}

.footerIconsImg{
   
}

.tuppleText{
    margin-top: 15px;
}

.topHeading{
    font-family: sans-serif;
    font-size: 18px;
    color: #5a5a5a;
    text-transform: uppercase;
}

.subText{
    font-size: 12px;
    color: #a4a3a3;
}